#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navBar{
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 113px;
  background-color: rgb(139, 15, 15);
  margin-top: -470px;
  margin-left: -521px;
  margin-right: -521px;
}


li{
  list-style-type: none;
  color: white;
}


.ropa {
  display: flex;
  margin-top: 45px;
  font-size: 50px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
